.apresentacao{
    display:flex;
    flex-direction: column;
 
    background-image: url("/images/brains_desktop.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-position: 80%;
    background-position-y: 45%;
    text-align: center;

    margin: 0 1em 0 1em;
    padding-top: 2em;
    width: 1600px;
    height: 800px;
}

.arvore__desktop{
    width:70% ;
    height:70% ;
}

.crp{
    padding-top: 1.5em;
    font-size: 20px;
}
.apresentacao__nome{
    

    justify-content: center;
    text-align: center;

}
.apresentacao__pre-titulo{
    font-size: 32px;
    font-family: "Source Code Pro";
    padding-left: 13em;
    text-align: left;
    
    

}

.apresentacao__titulo__Ros, .apresentacao__titulo__Mar {
    justify-content: center;
    font-size: 128px;
    font-family: "Sofia";
}

.apresentacao__titulo__Mar{
    padding-left: 0em;
}

.arvore__mobile{
    display: none;
}

.container{
    display: none;
}


@media screen and (max-width:1000px) {
    .container{
        display: block;
        padding: 0;
    }
    .apresentacao{
        
        padding: 2em 0 0 0;
        margin-bottom: 2em;
        width: auto;
        height: 600px;
        
       
        background-size: 90%;
        background-position-y: 100%;

  
    }
    .apresentacao__pre-titulo{
        font-size: 32px;
        padding: 0;
        text-align: center;
    }
    .apresentacao__nome{
        padding-left: 0;
        justify-content: center;
        font-size: 80px;
    }
    .apresentacao__titulo__Ros, .apresentacao__titulo__Mar {
        font-size: 80px;
    }
    .img{

        transform: scale(.6);
        width: fit-content;
        height: fit-content;
        
    }
    .apresentacao__imagem{
        width: auto;

    }
    .apresentacao__nome{
        margin: 0;
        
        text-align: center;
    }

    
    .arvore__mobile{
        
        display: flex;
        justify-content: center;
        background-attachment: fixed;
        transform: scale(0.5);
        z-index: 1 ;
        
    }

    .img__apres{
        display: block
     
    }
    .arvore__desktop{
        display: none;
    }

    .apresentacao__nome{
        padding-top: 5vh;
    }

   

    
    
}
